body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 00;
    padding: 0;
    background-image: url(new.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}


  
  
  .container {
    width: 800px;
    margin: 30% auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    
  }

  table{
    width: 100%;
    

    padding: 10px;
    border: #333;
    border-radius: 100px;
    margin-top: 5%;  }


input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: #333;
    border-radius: 100px;
    margin-top: 5%;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}